name: Test
on:
  push:
  pull_request:
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout repository
      uses: actions/checkout@v2
    - name: Setup dependencies
      uses: ./.github/actions/setup
    - name: Run pre-commit
      uses: pre-commit/action@v2.0.3
    - name: Test with pytest
      run: poetry run pytest --color=yes
